*{
   margin: 0;
    padding: 0px;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
}
/* body{
    margin-right: 15%;
    margin-left: 15%;
} */
.header{
    background-color: #1f2937;
    display: flex;
    height: 20vh;
    justify-content: space-around;
    align-items: center;
}
.headerImage{
    height: 20vh;
    width: 20vh;
}
#header_links{
    display: flex;
    justify-content: space-evenly;
    
    padding: 2px;
}
.navlinks{
    margin: 20px;
    color: #ffffff98;
}
#logo{
    font:24px #f9faf8;
}
.container{
    display: flex;
    flex-direction: column;
    height: 240vh;
    /* border: 10px solid black; */

    background-color: beige;
}
.main_sections{
    height: 25%;
    /* border: 2px solid black; */
   
}
#one{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subone{
   
    width: 40%;
    height: 80%;
    border-radius: 5%;
}
#heading{
   color: #f9faf8;
   /* size: 24px; */
   font-size: 48px;
   font-weight: 900;

}
#signupbutton{
    display: flex;
    background-color:#3882f6;
    height: 10%;
    width: 20%;
    border-radius: 10%;
    border: 0px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}
#signupText{

}
#two{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subcont{
    display: flex;
    height: 80%;
    width: 65%;
    background-color: white;
    align-items: center;
    justify-content: center;
}
.info{
    background-color: white;
    width: 25%;
    height: 95%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ilimg{
    border-radius: 20px;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: linear;

}
.ilimg:hover{
    transform: scale(1.5,1.5);
    box-shadow: 0px 0px 5px 5px grey;
}
#three{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quote{
    width: 60%;
    height: 72px;
    display: flex;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
   

}
.quotewriter{
    width: 60%;
    display: flex;
    flex-direction: row-reverse;
    color: black;
    font-size: 24px;
    font-weight: bold;
}
#thor{
    font-size: 12px;
    color: black;
    font-weight: bold;
}
#four{
    display:flex;
    flex-direction: column;

}
#subfour1{
    height: 50vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#subfour2{
    height: 10vh;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}
#callforaction{
    background-color: #3882f6;
    border-radius: 10px;
    height: 40%;
    width: 60%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.box{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:rgb(186, 182, 182);
}
#signinbutton{
    width: 20%;
    height: 40%;
    font-size: large;
    background-color: #3882f6;
    border-radius: 10%;
    color: rgba(248, 245, 245, 0.893);
}